*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
}
.form-container {
    width: 100%;
    background-color: #edeff2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 0;
    gap: 1.5rem; 
}
.main-header {
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem 0 2rem 0;
    width: 60%;
    background-color: #f5f8ff;
    text-align: center;
}
.main-header h2 {
    color: #564bbf;
}
.main-form {
    border-radius: 10px;
    width: 60%;
    overflow: hidden;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}
.form-head {
    padding: 20px 0;
    background: linear-gradient(to right, #DE49AAFF, #AD54E8FF); 
}
.form-head h1{
    color: #f5f8ff;
    font-size: 1.8rem;
    text-align: center;
}

.form-body {
    background-color: #faedf8;
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
input, select {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #7e8286;
    margin-top: 8px;
}
label {
    font-size: 1.2rem;
}
.names-filed {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.names {
    flex: 1;
}
.names-filed input {
    width: 100%;
}
.dobSelect{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.dateOfBirth select{
    width: 100%;
}
.contect {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.contect input {
    width: 100%;
}

textarea {
    resize: none;
    width: 100%;
    padding: 8px;
}
.gander, .course {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.gander-fileds, .course-input {
    display: flex;
    gap: 18px;
}
.country select{
    width: 100%;
}
.full-address {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.address-field {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.address {
    flex: 1;
}
.address input {
    width: 100%;
}

.hobbies-input {
    display: flex;
    flex-wrap: wrap;
    gap: 20px
}
.hobbies-input label {
    width: 30%;
    margin-top: 8px;
}
.qualification {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.form-table {
    width: 100%;
    margin: auto;
    border-collapse: collapse;
    background-color: #fff;
}
th {
    background-color: #fafcfc;
    color: #7e8286
}
th, td {
    padding: 16px;
    text-align: center;
}

table input {
    width: 90%;
    padding: 8px;
    border: 1px solid #7e8286;
}


.form-button {
    border-top: 1px solid #7e8286;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    padding: 10px 0;
}
.form-button button {
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
}
.form-button button[type="submit"] {
    color: #f5f8ff;
    background: linear-gradient(to right, #DE49AAFF, #AD54E8FF); 
    
}
.form-button button[type="reset"] {
    background-color: #fff;;
}
.main-footer {
    width: 60%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem 0 2rem 0;
    width: 60%;
    background-color: #f5f8ff;
}
.main-footer h2 {
    color: #158b65;
}